/* all button style */
button{
    border: 1px solid black;
    padding: 3px 15px;
    border-radius: 5px !important;
    transition: .3s;
}
button:hover{
    background-color: rgb(39, 39, 39);
    color: white;
}

/* pricing part style */
.pricing{
    width: 400px;
}
.pricing > div{
    padding: 0px 10px;
}
.pricing > div > p{
    margin-bottom: 0px !important;
}
.total-price-hr{
    border: 2px solid green;
}

/* promo code part style */
.apply-btn{
    /* padding: 3px 10px; */
    font-weight: 500;
    color: white;
    background-color: #DC3545;
    border: 1px solid #DC3545;
}